<div class="actions">
  <a md-button [routerLink]="'/'">
    <md-icon>arrow_back</md-icon>
    Back to beers list
  </a>
</div>

<app-loading *ngIf="!beer"></app-loading>

<md-card *ngIf="beer">
  <md-card-header>
    <md-card-title>{{ beer.name }}</md-card-title>
    <md-card-subtitle>{{ beer.tagline }}</md-card-subtitle>
  </md-card-header>
  <div md-card-image [ngStyle]="{'background-image': 'url(' + beer.imageUrl + ')'}"></div>
  <md-card-content>
    <p>
      {{ beer.description }}
    </p>
    <p>
      {{ beer.brewersTips }}
    </p>
  </md-card-content>
  <!-- <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions> -->
</md-card>